# CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# MacOS stuff
.DS_Store

# VSCode Stuff
.vscode

# Ignore the compiled products
bin
Dragonfly